body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #444;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5em;
    color: #444;
}

.header-content p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #777;
}

.contact-info p,
.contact-info a {
    margin: 5px 0;
    font-size: 1em;
    color: #444;
}

.contact-info a {
    color: #444;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

main {
    padding-top: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8em;
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
}

.content p {
    margin-bottom: 10px;
}

.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.content ul li {
    margin-bottom: 5px;
}

.content a {
    color: #444;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}
