/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    
    padding: 20px;
    line-height: 1.8; /* Increased line height for better readability */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; /* White background for the main content */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; /* Very light gray header */
    color: #333; /* Dark text color */
    padding: 20px 30px; /* Add padding to the top and bottom, and left and right */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header-left {
    flex: 1;
    text-align: left;
}

.header-right {
    flex: 1;
    text-align: right;
    padding-top: 10px; /* Add padding to the top of the right side details */
}

.contact-info {
    padding: 0 30px; /* Add padding to the left and right of the contact info */
}

.contact-info p {
    margin-bottom: 10px; /* Increased margin-bottom for spacing */
}

main {
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px; /* Add margin bottom to create space between sections */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card h2 {
    background-color: #333;
    color: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .content {
    padding: 20px;
}

.card ul {
    list-style-type: none;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px; /* Increased margin-bottom for spacing */
}

.card a {
    color: #2980b9;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}
